@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --timelineColor: #131313;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: none;
   margin: 0%;
  padding: 0%;
}

body{
  background: url('/bg.jpg') no-repeat center/cover;
  color: #ffffff;
  overflow-x: hidden;
  background-color: #131313;
}
/*Nav Bar*/
nav{
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.nav-ul{
  display: flex;
  gap: 10px;
  font-family: "Hammersmith One",sans-serif;
}
.nav-li-about ,.nav-li-contact{
  position: relative; 
}

.nav-li-about::before  {
  content: 'About';
  position: absolute;
  width: 0%; 
  height: 100%;
  font-family: "Hammersmith One",sans-serif;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  -webkit-text-stroke-width: 0px;
}
.nav-li-contact::before{
  overflow: hidden;
  content: 'Contact';
  width: 0%;
  height: 100%;
  font-weight: lighter;
  position: absolute;
  font-family: "Hammersmith One",sans-serif;
  transition: 0.5s ease-in-out;
}
.nav-li-contact:hover::before,.nav-li-about:hover::before{
  width: 100%;
  color: blueviolet;
  text-shadow: 0px 0px 20px blueviolet;
}

/*MAIN PAGE*/ 
.main-heading{
  font-size: 8vw;
  font-family: "Hammersmith One",sans-serif ;
  text-shadow: 5px 2px 50px blueviolet;
  transition: transform;
}
.main-content-div{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items:center ;
  height: 90vh;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}
.main-para{
  background: #171717;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.6vw;
  font-family: "Hammersmith One",sans-serif ;
  animation: appearBottomOpacity 1s linear;
}
.light .main-para{
  background: none;
}
.main-heading:hover,.main-para:hover{
  text-shadow: 15px 0px 50px blueviolet;
  transform: scale(1.01) ;
}

.icon:hover{
  color: blueviolet;
  text-shadow: 0px 0px 40px blueviolet;
  transition: color 0.3s ease-in-out;
  transform: rotate(10deg);
}

.icon {
  transition: transform 0.3s ease-in-out; 
  position: relative;
}

.main-icons{
  display: flex;
  gap: 10px;
  margin: 10px;
  transition: color 0.3s ease-in-out;
}
.main-icon:hover{
  border:2px solid white;
  transform: rotate(10deg);
  transition: color 0.3s ease-in-out;
}
.main-icon{
  background: transparent;
  padding: 6px;
  height: 35px;
  width: 35px;
  border-radius: 25%;
  color: #ffffff;
  border: 2px solid white;
  background: #131313;
  opacity: 0.6;
}
.light .main-icon{
  background: transparent;
  opacity: 1;
}

.btn-theme{
  padding: .5%;
}
.bg-p{
  background-color: blueviolet;
  border-top-right-radius: 10px ;
  border-bottom-right-radius: 10px;
  display: inline-flex;
  padding: .5%;
}
.top-section{
  animation: appearBottom 1s linear;
}

/*LIGHT THEME*/

.light{
  background: url('/lightbg.jpg') no-repeat center;
  background-color: white;
  color: black;
}
.light .icon{
  color: black;
}
.light p{
  color: #ededed;
}
.light h1{
  color: transparent;
  background: linear-gradient(to right,blue,teal,blueviolet);
  -webkit-background-clip: text;
  background-clip: text;
}
.light .main-para{
  color: #171717;
}
.light .contact-para{
  color: black;
}
.main-icon:hover{
  color: white;
}
.light .main-icon{
  color: black;
}
.light .btn-theme{
  color: white;
}



/*ANIMATIONS*/

@keyframes appear {
  from{
    opacity: 0;
    scale: 0.9;
  }to{
    opacity: 1;
    scale: 1;
  }
}

@keyframes appearBottom{
  from{
    transform:translateY(50%);
    opacity: 0;
  }to{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appearTop{
  from{
    transform:translateY(-50%);
    opacity: 0;
  }to{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appearBottomOpacity{
  from{
    transform:translateY(50%);
    opacity: 0;
  }to{
    transform: translateY(0);
    opacity: .5;
  }
}

@keyframes iconswitch{
  from{
    transform:translateY(0);
    opaciry:1;
  }
  to{
    transform: translateY(50%);
    opacity: 0;
  }
}

.iconswitchInitial{
  animation: iconswitch .5s ease-in-out;
}
.iconswitchFinal{
  animation: appearTop .5s ease-in-out;
}

body {
  transition: background .5s ease-in-out;
}
.education-box {
  display: flex;
  background-color: var(--timelineColor);
  border-radius: 25px;
  justify-content: center;
  color: #eaeaea;
  align-items: center;
  position: relative;
  margin: 2vw ;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.timeline  {
  padding: 0.52vw 2.5vw;
  background: #0a0a0a;
  font-family: 'Roboto condensed';
  font-size:2vw;
  border-radius: 20px;
  width: 92vw;
  font-size: xx-small;
  display: flexbox;
  justify-items: center;
  margin: 1vw;
}
.timeline div {
  background-color: var(--timelineColor);
  margin: 3vh;
  border-radius: 10px;
}

.timeline::after{
  width: 0.4vw;
  height: 100%;
  content: '';
  position: absolute;
  top: 0% ;
  left: 50%;
  background: var(--timelineColor);
  animation: line ease-in;
  animation-timeline: view();
  animation-range:entry -900% ;
}

.timeline[data-visible="true"]::after {
  animation: line 1s forwards;
}
  
@keyframes line{
  from{
    height: 0%;
  }to{
    height: 100%;
  }
}

.leftBox{
  transform: translateX(22.67vw);
  padding: 1vw;
  width: 40vw;
}

.rightBox{
  transform: translateX(-22.67vw);
  padding: 1vw;
  width: 40vw;
}

.rightBox::before,
.leftBox::before  {
  content: '';
  border: 1px solid var(--timelineColor);
  width: 2.9vw;
  height: 0.3vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--timelineColor);
  animation: linebox linear;
  animation-timeline: view() ;
  animation-range:entry -15% ;
}

@keyframes linebox{
  from{
    height: 0%;
  }to{
    height: 0.3vw;
  }
}

.leftBox::before{
  left: -6%;
}
.rightBox::before{
  right: -7%;
}
.box{
  animation: appear ease-in-out ;
  animation-timeline: view();
  animation-range: entry 15%;
}
.box p {
  color: var(--textColor);
}
.light p {
   color: #3b3b3b;
}

.light .timeline {
  background-color: rgb(250, 246, 246); 
  padding: 20px;
}

.box h2{
  color: #ffffff;
}
.light .box h2{
  color: #0a0a0a;
}

.light {
  --timelineColor: #eaeaea; 
  --textColor:#ededed
}

.eduH{
  font-size: 5vw;
  display: flex;
  justify-self: center;
}
.light .book,.light .share,.light .cookie{
  color: #131313;
}

.book:hover,.btn-theme:hover,.share:hover,.cookie:hover{
  transform: rotate(10deg);
}

@keyframes rotateIcons{
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(20deg);
  }
}

.book,.share,.cookie{
  animation: rotateIcons ease-in-out ;
  animation-timeline: view();
  animation-range: entry 20%;
  width: 2.7vw;
}
.share{
  width: 3vw;
}


